name: Deploy Portfolio
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/portfolio || git clone https://github.com/quexios/cis527-final /var/www/portfolio
            cd /var/www/portfolio
            git pull origin main
            sudo puppet apply puppet/site.pp
            export DISCORD_WEBHOOK_URL=${{ secrets.DISCORD_WEBHOOK_URL }}
            sudo docker compose up -d --build
